.certificate-component{
    /* top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    position: absolute; */
    margin-top: 80px;
    /* what do you  want */
}
.single-field{
    border: 1px navy solid;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    background-color: azure;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.cards-field{
    display: grid;
    margin: 10px;
    grid-template-columns: auto auto auto;
}
h5{
    text-align: center;
    color: crimson;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



@media screen and (max-device-width: 412px) {
    .cards-field{
        display: grid;
        margin: 10px;
        grid-template-columns: auto;
    }
  
  }