@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
*{
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: 'Slabo 27px', serif;
}
body{
        width:100vw;
        height: 100vh;
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
