/* Navbar */
.my-navbar{
        background-color: #1e3b6e;
}
.my-navbar-item{
        color: seashell !important;
}
/* Login &Register */
.my-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:#E3E3E3;
        justify-content: center;
        height: 100vh;
    }
    .form-component {
        text-align: center;
        background-color:#fff;
        width: 700px;
        margin: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border-radius: 10px;
    }
    .form-title {
        font-size: 25px;
        font-weight: bolder;
    }
    input,select,textarea,option{
        padding: 10px;
        border-radius: 5px;
}
.my-button{
        background-color:#1e3b6e;
        padding: 10px 5px;
        border-radius: 20px;
        color: #fff;
        opacity: 0.8;
}
.my-button:hover{
        opacity: 1;
}
.button-groups{
        gap: 2rem;
}
/* Profile */
.profile-details{
        padding: 20px;
        width: 500px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        background-color: seashell;
}
.profile-item{
        margin-bottom: 20px;
}
.profile-title{
        text-align: center;
}
.certificate{
        margin: 80px;
}
.certificate-gallery{
        display: grid;
        grid-template-columns: auto auto auto;
}
.certificate-card{
        border: 1px solid black;
        border-radius: 10px;
        margin: 20px;
}
.certificate-title{
        text-align: center;
        text-transform: uppercase;
        color: crimson;
}
.certificate-img{
        width: 100%;
        border-radius: 10px;
        height: 250px;
}
/* Home */
.home{
        background-image: radial-gradient(#dedede,#94bbe9);
}
.welcome-text{
        font-size: 30px;
        font-family: cursive;
}
.my-table{
        border: 2px solid #1e3b6e;
        margin: 40px 20px;
        background-color:rgb(212, 231, 255);
        width: 75% !important;
        text-align: center;
}
.error-img{
        border-radius: 20px;
        height: 300px;
}
.all-certificates{
        display: grid;
        grid-template-columns: auto auto auto;
}
.certificate-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:#E3E3E3;
        justify-content: center;
        height: auto;
        margin-top: 70px;
}
.students-name{
        text-decoration: underline;
        text-align: center;
        color: red;
}

@media screen and (max-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) {
        .welcome-text{
                font-size: 20px;
                font-family: cursive;
        } 
        .form-component {
                text-align: center;
                background-color:#fff;
                width: 350px;
                margin-top: 80px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                border-radius: 10px;
            }
            .form-title {
                font-size: 25px;
                font-weight: bolder;
            }
            .home-text{
                text-align: center;
            }
            .profile-details{
                padding: 20px;
                width: 300px;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
                background-color: seashell;
        }
        .certificate{
                margin: 80px 20px 20px 20px;
        }
        .certificate-gallery{
                display: grid;
                grid-template-columns: auto;
        }
        .my-table{
                border: 2px solid #1e3b6e;
                margin: 40px 20px;
                background-color:rgb(212, 231, 255);
                width: 250px !important;
                height: auto;
                font-size: 10px;
                text-align: center;
        }
        .students-name{
                text-decoration: underline;
                text-align: center;
                color: red;
                font-size: 20px;
        }
}